option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mys.settings"
    "PYTHONPATH": "/home/dm/my/bin/python3.4
/mys:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: mys/mys/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"